<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Кинотеатр</title>
  <link rel="stylesheet" href='{ static css/styles.css }'>
</head>
<body>
  <header>
    <h1>Кинотеатр</h1>
    <nav>
      <ul>
        <li><a href="index.html">Главная</a></li>
        <li><a href="today.html">Сегодня в кино</a></li>
        <li><a href="soon.html">Скоро в кино</a></li>
        <li><a href="contacts.html">Контакты</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <!-- Содержимое главной страницы -->
  </main>

  <footer>
    <!-- Информация о кинотеатре -->
  </footer>

</body>
</html>
