{% extends 'cinema/base.html' %}

{% block title %}Сегодня в кино{% endblock %}

<main>
    {% block main %}
    <div class="head">
        <div class="title">Сегодня в кино</div>
    </div>
    <div class="movies-grid">
  {% for movie in movies %}
  <div class="movie-block">
      <a href="{% url 'movie_detail' pk=movie.pk %}">
    <div class="movie-poster">
      {% if movie.poster %}
      <img src="{{ movie.poster.url }}">
      {% endif %}
    </div>
      </a>
    <div class="movie-info">
      <h4>{{ movie.title }}</h4>
      <p><strong>Жанр:</strong> {{ movie.genre }}</p>
      <p><strong>Режиссер:</strong> {{ movie.director }}</p>
      <p><strong>Страна:</strong> {{ movie.country }}</p>
      <p><strong>Продолжительность:</strong> {{ movie.duration }} мин.</p>
      <p><strong>В главных ролях:</strong> {{ movie.lead_roles }}</p>
    </div>
  </div>
  {% endfor %}
</div>
    {% endblock %}
</main>

<footer>
    <!-- Аналогично base.html -->
</footer>

