/* Базовые стили */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #222;
  color: #fff;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

a {
  color: #ff4d4d; /* Акцентный цвет для ссылок */
  text-decoration: none;
}

/* Шапка */
header {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

/* Навигация */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

/* Главное содержимое (main) */
main {
  padding: 20px;
}

/* Подвал */
footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
}
